body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px; 
  transition: background-color 0.3s ease; /* Transition for background color */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-item {
  width: 300px;
  height: 140px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.event-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.event-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.event-item button:hover {
  background-color: #0056b3;
}


body {
margin: 0;
min-height: 100%;
background-color: #f2f2f2;
transition: background-color 0.3s ease; /* Transition for background color */
}

.button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #218838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: block;
  background-color: #333;
  overflow: hidden;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  float: left;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}
