.home-container{
  margin: 20px 0;
  padding-left: 10px;
}

.heading{
  font-size: 2em;
  font-weight: 1000;
  color: rgb(55, 55, 136);
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.sec{
  padding-left: 90px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.banner {
  position: relative;
  background: url('https://i.pinimg.com/736x/dd/f9/97/ddf997d65d8b92a3d7e085d6bf1cc484.jpg') no-repeat center center; 
  background-size: cover;
  height: 450px; /* Adjust height as needed */
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-left: 600px;
  color: darkblue;
}

p {
  font-size: 1.5em;
  margin: 20px 0 0;
}

